<%= form_for @post do |f| %>
  
  <%= render 'partials/errors', o: @post %>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label "Categories" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
      <%= c.label() {c.check_box() + c.text} %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>