<%= render 'partials/title', title: @post.title %>


<p>URL: <%= @post.url %></p>
<p>DESCRIPTION: <%= @post.description %></p>

<p>AUTHOR: <%= @post.creator.username %></p>

<p>CATEGORIES: <%= categorize_string(@post.categories) %></p>

<h3>Comments</h3>
<div class="comments">
<% @post.comments.each do |comment| %>

		<% if logged_in? %>
		<!-- comment.post -->
			<%= link_to vote_post_comment_path(@post, comment, vote: true), method: 'post' do %>
				<i class="icon-arrow-up"></i>
			<% end %>
		<% end %>
		
		<%= comment.total_votes %> votes

		<% if logged_in? %>
			<%= link_to vote_post_comment_path(@post, comment, vote: false), method: 'post' do %>
				<i class="icon-arrow-down"></i>
			<% end %>
		<% end %>

<div class="well">Comment: <%= comment.body %>: <%= display_datetime(comment.created_at) %></div>
<% end %>
</div>

<% if logged_in? %>
	<%= form_for [@post, @comment] do |f| %>
	  
	  <%= render 'partials/errors', o: @comment %>
	  
	  <div class='control-group'>
	    <%= f.label :body %>
	    <%= f.text_area :body %>
	  </div>

	  <div>
	    <%= f.submit 'create comment' %>
	  </div>

	<% end %>
<% end %>